$header-background: #1e2124;
$header-link-color: #ffffff;
$header-link-color-hover: #282B30;
$header-brand-color: #282B30;

.header {
  background: $header-background;

  .header-brand {
    color: $header-brand-color;
  }

  .header-navbar {
    min-height: 3rem;

    .header-toggler {
      color: $header-link-color;
    }

    .header-nav {
      .nav-link {
        color: $header-link-color;

        &:hover {
          color: $header-link-color-hover;
        }
      }
    }
  }
}
