$enable-negative-margins: true;

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import "~bootstrap/scss/bootstrap";

@import "layout/header";
@import "layout/sidebar";

@import "layout/custom";

@tailwind base;
@tailwind components;
@tailwind utilities;